.message {
  font-weight: 500;
  font-size: .8rem;
  line-height: 24px;
  letter-spacing: -1px;
  position: absolute;
  /* bottom: -10px;
  left: 0; */
}
.message.success {
  color: #8f8c8b;
}
.message.error {
  color: #ff2727;
}
